# Backend API URL (Local hoặc Modal Endpoint)
# Local:
# VITE_BACKEND_URL=http://127.0.0.1:8000
# Modal Serverless Endpoint:
# VITE_BACKEND_URL=https://<your-username>--crowd-analysis-fastapi-app-dev.modal.run
VITE_BACKEND_URL=http://127.0.0.1:8000
