.git
.env
.pytest_cache
**/__pycache__
**/*.pyc
tmp
frontend/node_modules
frontend/dist
data/uploads
data/outputs
data/grand-central
data/videos
*.rar
*.zip
*.mp4
*.pt
*.onnx
*.engine
*.torchscript
479.pdf
